html, body {
    height: 100%;
    background-color: #333;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }

  .dog-tile img {
    width: 100%;
    height: 225px;
    object-fit: cover;
  }

  .dog-tile img:hover {
    cursor: pointer;
  }

.breedNamesWrap {
  display: flex;
  flex-wrap: wrap;
}

.selectBreed {
  display: flex;
  align-items: center;
  padding : 5px;
  width: 200px;
}

.selectBreed span.breedName {
  text-transform: capitalize;;
}

.selectBreed input {
  height: 20px !important; 
  margin-left: 10px;
}